p, h1 {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

html {
    background-color: lightskyblue;
    margin: auto;
}

.navbar-styling {
    color:aqua;
}

.banner {
    background-color: #ffebbe;
    font-family: 'Pangolin';
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
}